@media screen and (min-width: 800px) and (max-width: 3500px){
  #leftMenu{
    width: 0px !important;
  }

  #background{
    visibility: hidden !important;
  }

  #close{
    display: none !important;
  }
  body{
    position: static !important;
  }
}

@media screen and (max-width: 1500px){
  .followUs{
    width: 20%;
  }
}
@media screen and (max-width: 1400px){
  .mainPicture{
    height: 450px;
  }
  .followUs{
    width: 22%;
  }
}
@media screen and (max-width: 1300px) {
  .mainPicture{
    height: 400px;
  }

  .articles{
    width: 65%;
  }

  #articlesPictures{
    width: 35%;
  }

  .articlesShape > a{
    display: none;
  }

  .ourVideos{
    width: 90%;
  }

  .half{
    width: 510px;
  }

  .card{
    width: 250px;
  }

  .logoContainer{
    width: 56%;
  }

  .aboutUs{
    width: 28%;
  }

  .followUs{
    width: 27%;
  }

  .socialList{
    padding: 0;
  }
}


@media screen and (max-width: 1100px){
  header > nav > ul > li{
    width: 25%;
  }

  .introductionContainer{
    width: 90%;
  }

  .titles{
    width: 100%;
  }
  #articlesContainer{
    flex-direction: column-reverse;
  }

  #articlesPictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .artPictures{
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .articles{
    width: 100%;
  }

  .half{
    width: 450px;
  }

  .card{
    width: 210px;
  }

  .followUs{
    width: 31%;
  }
}


@media screen and (max-width: 1000px){
  .mainPicture{
    height: 350px;
  }

  header > nav > ul > li{
    width: 23%;
  }

  .introductionContainer{
    width: 100%;
  }

  .half{
    width: 420px;
  }

  .card{
    width: 200px;
  }

  .followUs{
    width: 38%;
  }
}

@media screen and (max-width: 900px){
  .mainPicture{
    height: 300px;
  }

  header{
    font-size: 1rem;
  }

  header >nav > ul > li{
    width: 21%;
  }

  .half{
    width: 350px;
    height: 250px;
  }

  .card{
    width: 190px;
  }

  .aboutUs{
    width: 30%;
  }

  .followUs{
    width: 45%;
  }
}

@media screen and (max-width: 800px){
    header > nav{
      display: none;
    }

    #open{
      visibility: visible;
    }

    header{
      justify-content: space-around;
    }

    #logo{
      width: auto;
    }

    .half {
      width: 300px;
      height: 200px;
    }

    .card{
      margin: 2px 7px;
    }

    .footerContainer{
      width: 100%;
    }

    .contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 100%;
    }

    .informations{
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .logoContainer{
      display: flex;
      justify-content: center;
    }

    .logoSSF{
      width: 180px;
    }

    .aboutUs{
      width: 100%;
      margin: 0;
      text-align: center;
    }

    .followUs{
      text-align: center;
      width: 100%;
    }

    h2{
      text-align: center;
    }
}

@media screen and (max-width: 700px){
  .mainPicture{
    height: 250px;
    top: 0;
  }
}

@media screen and (max-width: 600px){
  .mainPicture{
    height: 250px;
    top: 0;
  }
  header{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 145px;
  }
  #help{
    width: 100%;
    height: 50px;
  }

  .support{
    background-color: #000;
    border: 1px solid #f45700;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    justify-content: center;
  }
  .support > p >a{
    color: #f45700;
  }

  #articlesPictures{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .artPictures{
    height: 260px;
  }

  .ourVideos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videos{
    width: 100%;
  }
  .half{
    height: 170px;
  }
  .cardsContainer{
    flex-direction: column;
    align-items: center;
  }

  .card{
    width: 300px;
  }
}

@media screen and (max-width: 500px){
  .artPictures{
    height: 220px;
  }
  .videos{
    flex-direction: column;
    align-items: center;
  }
  .half{
    width: 330px;
    height: 190px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px){
  .mainPicture{
    height: 220px;
  }
  .artPictures{
    height: 170px;
  }
}
