/*

Modification de la scrollbar

*/
/* scrollbar Firefox */
html {
  scrollbar-color: #5c6263 #021c1e;
}

/* scrollbar Chrome */
html {
  --scrollbarBG: #021c1e;
  --thumbBG: #5c6263;
}

::-webkit-scrollbar {
  width: 15px;
}

body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::-webkit-scrollbar-button {
  background-color: var(--scrollbarBG);
  width: 20px;
  height: 20px;
}

/* scrollbar Internet Explorer */
body {
  scrollbar-face-color: #5c6263;
  scrollbar-track-color: #021c1e;
  scrollbar-arrow-color: #fff;
  scrollbar-highlight-color: #e0e0e0;
  scrollbar-3dlight-color: none;
  scrollbar-shadow-color: #5c6263;
  scrollbar-darkshadow-color: none;
}

/*

 End of scrollbar modifications

 */
body {
  background-color: #063544;
  color: #fff;
  margin: 0;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  font-size: 1.2rem;
  z-index: 200;
}

#logo {
  width: 20%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#logo>a:focus {
  outline: 0;
}

#logo img {
  width: 150px;
  margin: auto;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

nav {
  width: 60%;
  height: 99px;
}

nav>ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%;
  justify-content: center;
}

nav>ul>li {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: center;
  line-height: 28.8px;
  -webkit-transition: background 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: background 0.2s ease-out, -moz-transform 0.2s ease-out;
  transition: background 0.2s ease-out, transform 0.2s ease-out;
  cursor: pointer;
}

nav>ul>li:hover {
  background: rgba(0, 0, 0, 0.2);
}

nav>ul>li>a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: block;
}

#help {
  padding: 0;
  width: 20%;
  box-sizing: border-box;
}

.support {
  display: flex;
  align-items: center;
  background-color: #f45700;
  width: 160px;
  height: 99px;
  margin: auto;
  letter-spacing: 2px;
  transition: letter-spacing 0.5s;
  cursor: pointer;
}

.support:hover {
  letter-spacing: 3px;
}

.support>p {
  padding: 0 15px;
  margin: 0;
  line-height: normal;
  text-align: center;
  font-weight: 600;
}


.mainPicture {
  position: relative;
  background: url(pictures/seashepherd_pelican.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 600px;
  top: -125px;
}

.quotationContainer {
  position: relative;
  background-color: #000;
  width: 100%;
  padding: 20px 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: -50px;
}

.quotationContainer>p {
  line-height: 1.2;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.quotationContainer>p:first-child {
  font-size: 1.6rem;
  letter-spacing: 0.09rem;
  margin: 0;
  font-style: italic;
}

.introductionContainer{
  width: 78%;
  margin: auto;
}

.introduction{
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: justify;
  letter-spacing: 0.08rem;
}

.introduction>p{
  margin: 15px 0 20px 0;
}

.introduction>.firstLastP{
  margin: 50px 0 20px 0;
}

.introduction>.secondP{
  margin: 40px 0 10px 0;
}

.bold{
  font-weight: bold;
}

.introduction>.button{
  margin: auto;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  background: #439a86;
  box-shadow: 5px 5px 10px #333;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  letter-spacing: 0;
  line-height: 1.5;
  transition: background 0.1s;
}

.introduction>.button:hover{
  background: #4bac95;
  color: #fff;
}


/*

Blog articles section

*/
#blog{
  width: 78%;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 100px;
  height: 900px;
}
.titles{
  width: 80%;
  margin: auto;

}
.titles > p:first-child {
  color: #f45700;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  letter-spacing: 0.09rem;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 0;
}
.titles > p:last-child {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.09rem;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  margin-bottom: 20px;
  margin-top: 0;
}

.articlesContainer{
  display: flex;
}
.articles{
  width: 71%;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles div{
  flex: 1;
  width: 100%;
}


.articlesShape{
  background-color: #41474c;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
}

.articlesShape:last-child{
  margin: 0;
}

.linkBlock{
  display: block;
  width: 230px;
  margin : 10px;
  align-self: center;
}

.articleContent{
  width: 77%;
  margin: 0;
  padding: 0 10px;
  align-self: center;
}

.styleTexte{
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  letter-spacing: 0.08rem;
  padding-top: 7px;
  margin: 0;
}

.date{
  font-size: 0.8rem;
  padding-top: 10px;
}

.title{
  color: #ea5814;
  font-size: 1.2rem;
  font-weight: bold;
}

.content{
  font-size: 0.9rem;
  font-weight: normal;
}

.more{
  margin: 0;
  margin-bottom: 10px;
}

.more a{
  color: #ea5814;
  font-size: 0.9rem;
  text-decoration: none;
}

#articlesPictures{
  width: 29%;
}

.artPictures{
  width: 100%;
  margin-bottom: 70px
}

.artPictures:last-child{
  margin: 0;
}
